/*****************************1.homepage**********************************/
.homepage, .homepage *{
    margin:0;
    padding:0;
} 

/*************header+footer**********/
header,footer{
    width:auto;
    height:30px;
    display:block;
    font-size:1.1em;
    color:#000;

}

header{
    position:fixed;
    top:0;
    left:0;right:0;
}
header>span>span{height:30px;position:relative;}
header>span>span a{display:inline-block;height:30px;}
header>span>span:first-child{position:fixed;right:240px;}
header>span>span:nth-child(2){position:fixed;right:40px;}

footer{
    position:fixed;
    bottom:0;
    left:0;right:0;
}

footer li:first-child{position:fixed;right:210px;}
footer li:nth-child(2){position:fixed;right:120px;}
footer li:nth-child(3){position:fixed;right:40px;}

footer nav a{display:block; height:30px;padding-top:5px;}

a{
    text-decoration:none;
    color:inherit; 
}
header>span>span>a:hover,header>span>span>a:focus-within{background:#CBB26A;}
footer li:hover,footer li:focus-within{background:#CBB26A;}

/*********logo + main-navigation********/

header+div{
    width:auto;
    height:120px;
    background:#fff; 
    position:fixed;
    top:30px;
    left:0;right:0;
    z-index:1;
    box-shadow:3px 3px 5px #CBB26A;
}

header+div h1{
    height:auto;
    width:20%;
    /* outline:1px solid black; */
}

header+div h1 span{
    position:absolute;
    left:-9999em;
}

header+div h1 img{
    display:inline-block;
    height:120px;
    margin:0 auto;
}

.main-nav{
    height:auto;
    width:80%;
}


.sub-menu{
    position:absolute;
    left:-9999em;
}

.main-menu>li{
   color:#505762;
}
.main-menu>li>a{
    display:block;
    padding:1em 1.43em;
    font-size:1.4em; 
   margin-top:55px;
}

.main-menu> li:hover,.main-menu> li:focus-within{
    display:block;
    color:#CBB26A;  
    /* text-decoration: underline; */
}

.main-menu>li:hover>.sub-menu,.main-menu>li:focus-within>.sub-menu{
    left:auto;
    color:#505762;
    background:#f4f4f4;
    font-size:1.2em;
    width:250px;
} 
.sub-menu li a{display:block;width:100%;}

.sub-menu li:hover,.sub-menu li:focus-within{background:#CBB26A;}

.main-nav .open,.main-nav .close{display:none;}

.homepage header nav h1 a{padding-left:30px;}

/*****************contact*********************/

.contact{
    width:180px;
    height:80px;
    background:#CBB26A;
    position:fixed;
    bottom:100px;
    right:0;
    border-radius:10%;
    box-shadow:5px 5px 5px grey;
}

.contact .fa-envelope,.contact .fa-pen{
    font-size:22px;
    display:inline-block;
    color:#FCF6F5;
    margin-top:10px;
    margin-left:10px;
}

.contact span{
    text-decoration:underline;
    color:#FCF6F5;
    margin-left:5px;
    font-size:0.9em;
}

.contact a:hover{background-color:#8AAAE5;}
/***************index:bg-picture*******/

.bg-picture{
    width:100%;
    height:700px;
    margin:0 auto;
    background-image:url(../img/ali_1_kleiner.jpg);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
  }

  .bg-picture h2{
      position:absolute;
      top:250px;
      left:30px;
      font-size: 2.5em;
      color:#faf2ec;
  }
  
  /**********index:tabreiter************/
  .tabreiter{
    width:60%;
    margin:0 auto;
    z-index:0;
    color:#505762;
    position:relative;
    top:-60px;
    box-shadow:3px 3px 5px #505762;
}

.tabreiter section{
    background:#8AAAE5;
    height:120px;
}

.tabreiter li{
    width:calc(33.33333% - 2px);
    height:40px;
    font-size:1.3em;
    margin-bottom:3px;
    background:#CBB26A;
}

.tabreiter li:nth-child(2){
    margin-left:3px;
    margin-right:3px;
}
.tabreiter li a{
    display:block;
    line-height:40px;
    text-align:center; 
}


:not(:target) ~ .homepage section:not(.section1){display:none;} 

#section1:target ~ .section1{display:block;}
#section2:target ~ .section2{display:block;}
#section3:target ~ .section3{display:block;}

:target:not(#section1) ~ .section1{display:none;}

:not(:target) ~ .mid-nav li:first-child,
#section1:target ~ .mid-nav li:first-child,
#section1:target ~ .mid-nav li:first-child:hover,
#section1:target ~ .mid-nav li:first-child:focus-within,
#section2:target ~ .mid-nav li:nth-child(2),
#section2:target ~ .mid-nav li:nth-child(2):hover,
#section2:target ~ .mid-nav li:nth-child(2):focus-within,
#section3:target ~ .mid-nav li:nth-child(3),
#section3:target ~ .mid-nav li:nth-child(3):hover,
#section3:target ~ .mid-nav li:nth-child(3):focus-within{
    background:#8AAAE5;
}
:target:not(#section1) ~ .mid-nav li:first-child{
    background:#CBB26A;
} 

.tabreiter section h3{font-size:1.3em;padding-left:1em;padding-top:1em;}
.tabreiter section p{
    font-size:1.3em;
    padding:1em;
}
.button{
    display:inline-block;
    font-size:1em;
    font-weight:bold;
    padding:10px;
    border-radius:10px;
    box-shadow:3px 3px 5px #505762;
    background:#CBB26A;
    color:#FCF6F5;
    margin:20px 0;
    margin-left:5%;
}
.tabreiter .button{margin-top:40px;}

.tabreiter .button:hover, .tabreiter .button:focus-within{
    background:#FCF6F5;
    color:#CBB26A;
}

.tabreiter label{
    font-weight: bold;
    width: 200px;
    height:50px;
    font-size:1.3em;
    padding:1em;
  }

  /***********index:article************/
.article-wrapper1,
.article-wrapper3{
    background:#faf2ec;
}

.article{
    width:80%;
    height:350px;
    margin:0 auto;
    display:flex;
}

.article img{height:100%;}
.text-container h2{font-size:2em; color:#CBB26A;margin-bottom:10px;}
.text-container p{font-size:1.4em;color:#505762;}
.text-container{height:350px; margin:2%;}
.text-container h2{text-align: center;}


/**************************individualreisen*******************************/
.travel-page, .travel-page *{margin:0;padding:0;}
.travel-page header+div h1{margin:0;}
.travel-page header+div+h1{margin-top:200px;}
.travel-page .section{margin-bottom:50px;}

.travel-wrapper{
    max-width:1500px;
    margin:0 auto;
}

.travel-wrapper p{
    hyphens:auto;
}

.travel-page h1{
    text-align:center;
    font-size:1.7em;
    color:#CBB26A;
    margin-top:30px;
    margin-bottom:30px;
}

.travel-page h1 + p{
    margin-left:5%;
    margin-right:5%;
    margin-bottom:30px;
    color:#505762;
    font-size:1.2em;
}

.travel-page{background:#faf2ec;}

/**********individualreisen:tabreiter**********/

.sub-nav a{color:inherit;
text-decoration:none;
display:block;}

nav ul{list-style:none;}

.sub-nav{background:#8AAAE5;
        padding:1px 0;
}

.sub-nav ul {
    padding:0;
    margin-bottom: 0;
    position: relative;
    top:1px; 
  }
  
  .sub-nav li {
    margin: 0.5% 0.5% 0;
    background:#CBB26A;
    color: #8AAAE5;
    font-size:1.3em;
    min-width: 150px;
    flex-grow:1;
    font-weight:bold;
    
  }
  
  .sub-nav a {
    text-align: center;
    padding:1em;
  }

.sub-nav li:hover,
.sub-nav li:focus-within
  {background:#faf2ec;}

.travel-wrapper .col-25{
margin:0.5%;
border:1px solid #8AAAE5;
width:calc(25% - 1% - 2px);
}

.travel-wrapper .col-50{
    margin:0.5%;
    padding:0;
    width:calc(50% - 1% - 2px);
    max-height:200px;
    border:1px solid #8AAAE5;
}

:not(:target) ~ .travel-page .section:not(.part1){display:none;}

#part1:target ~ .part1{display:block;}
#part2:target ~ .part2{display:block;}
#part3:target ~ .part3{display:block;}
#part4:target ~ .part4{display:block;} 
:target:not(#part1) ~ .part1{display:none;} 

#part1:target ~ div nav li:first-child,
#part1:target ~ div nav li:first-child:hover,
#part1:target ~ div nav li:first-child:focus-within,
#part2:target ~ div nav li:nth-child(2),
#part2:target ~ div nav li:nth-child(2):hover,
#part2:target ~ div nav li:nth-child(2):focus-within,
#part3:target ~ div nav li:nth-child(3),
#part3:target ~ div nav li:nth-child(3):hover,
#part3:target ~ div nav li:nth-child(3):focus-within,
#part4:target ~ div nav li:nth-child(4),
#part4:target ~ div nav li:nth-child(4):hover,
#part4:target ~ div nav li:nth-child(4):focus-within{
background:#FaF2ec;
} 


:not(:target) ~ .travel-div nav li:first-child{background:#faf2ec;}
:target:not(#part1) ~ .travel-div nav li:first-child{background:#CBB26A;}

/***********individualreisen:img-section********/

.travel-wrapper img{display:block;}

.travel-wrapper article.col-25 img{width:100%}

.travel-wrapper article.col-25 >div {padding:1%;}

.travel-wrapper article.col-50 img{width:40%;}

.travel-wrapper article.col-50 div{
    padding:1%;
    width:calc(60% - 2%);
    text-align:left;
} 

.travel-wrapper article.col-50{
    max-height:300px;
}
.travel-wrapper article.col-50 img{
    max-width:300px;
    display:block;
    margin-left:auto;
    margin-right:auto;

}

.section h2{
    text-align:center;
    color:#505762;
}

.travel-wrapper .flex{text-align: center;align-items: center;}

.travel-wrapper h2:first-child{display:none;}

.part4 img{margin-left:auto;margin-right:auto;margin-top:50px; margin-bottom:50px;}

.part4 img+h2{margin-bottom:50px;}

/***********************fotoshooting***********************/
.photo-page{margin:0 auto;padding:0;}
.photo-page header+div h1{margin:0;}
.photo-page header+div nav ul,.photo-page footer ul{margin:0;}
.photo-page .photo-wrapper{margin-top:200px;}
.photo-page .overlay+div+div+div+div+div+div+div{
    margin-bottom:50px;
    border-bottom:1px solid #CBB26A ;
}
/* .travel-page .overlay+.flex{margin-bottom:50px;} */

.photo-wrapper{
    max-width:1500px;
    margin:0 auto;
}

.photo-page{
    background:#faf2ec;
}

/****************fotoshooting:picture wall**************/
figure{
    display:inline-block;
}


figure + img{
    display:inline-block;
    margin:0 auto;
    width:20%;
    position:absolute;
    left:40%;
    right:40%;
    top:250px;
}

figcaption{display:none;}

.overlay{
    background:rgba(0,0,0,0.4);
    position:fixed;
    top:150px;  /*adjust to the main nav*/
    bottom:0;
    left:0;
    right:0;
    display:none;
}

.overlay>a{
    position:fixed;
    top:150px;
    bottom:0;
    left:0;
    right:0;
}

.img-holder{
    background:#FcF6F5;
    position:absolute;
    left:50%;
    right:50%;
    top:50%; /*adjust to the main nav*/
    transform:translate(-50%,-50%); 
    width:50%;
}

.img-holder img{
    display:block;
    width:100%;
    height:auto;
}

.photo-wrapper .close{
    display:block;
    width:30px;
    height:30px;
    overflow:hidden;
    text-decoration:none;
    font-size:30px;
    line-height:40px;
    color:#ccc;
    position:absolute;
    right:-17px;
    top:-20px;
}

span[id]{display:none;}
#bild1:target ~ .overlay{display:block;}
#bild2:target ~ .overlay{display:block;}
#bild3:target ~ .overlay{display:block;}
#bild4:target ~ .overlay{display:block;}
#bild5:target ~ .overlay{display:block;}
#bild6:target ~ .overlay{display:block;}
#bild7:target ~ .overlay{display:block;}
#bild8:target ~ .overlay{display:block;}


.overlay img{display:none;}
#bild1:target ~ .overlay img:first-of-type{display:block;}
#bild2:target ~ .overlay img:nth-of-type(2){display:block;}
#bild3:target ~ .overlay img:nth-of-type(3){display:block;}
#bild4:target ~ .overlay img:nth-of-type(4){display:block;}
#bild5:target ~ .overlay img:nth-of-type(5){display:block;}
#bild6:target ~ .overlay img:nth-of-type(6){display:block;}
#bild7:target ~ .overlay img:nth-of-type(7){display:block;}
#bild8:target ~ .overlay img:nth-of-type(8){display:block;} 

/******************fotoshooting:word**************/
.overlay+p{
    margin-top:150px;
    text-align:center;
    font-size:1.3em;
}

.photo-wrapper .flex{ border-top:1px solid #CBB26A;}

.overlay + .flex{
   margin-top:200px;
}

.photo-wrapper .flex{
text-align:center;
align-items:center;
}

.photo-wrapper .flex p{
   text-align:left;
   font-size:1.5em;
   color:#505762;
}

.photo-wrapper .flex h2{
   font-size:2em;
   margin:0;height:100%;
  color:#CBB26A;
}

/*******gesch채ftscooperation + 체ber uns + kontakt****************/
.describe-page {margin:0 auto;padding:0;}
.describe-page header+div h1{margin:0;}
.describe-page header+div nav ul,.describe-page footer ul{margin:0;}
.describe-page .describe-wrapper{margin-top:150px;margin-bottom:30px;}
.describe-page footer a{color:#000;}

/**************************************/
.describe-page{
    margin:0;
    padding:0;
}


.describe-page .button:hover,.describe-page .button:focus-within{background:#8AAAE5;}

.describe-wrapper a{color:#FCF6F5;text-decoration:none;}

.describe-wrapper{
    max-width:1000px;
    margin:0 auto;
    padding-bottom:30px;
    background:#faf2ec;
}

.describe-wrapper a img{
    display:block;
    height:150px;
    margin:0 auto;
}

.describe-page h1{
    color:#8AAAE5;
    text-align:center;
}

.describe-page h2{color:#CBB26A;}
/*****gesch채ftscooperation*****/
table{margin:0 auto;}

th, td {
    text-align:center;
    padding: 8px;
    border:1px solid #505762;
}
  
th {
    background-color:#CBB26A;
    color:#FCF6F5;
  }

tr:hover{background:#8AAAE5;}

.describe-page dl{
    margin-top:30px;
    margin-bottom:65px;
    margin-left:10%;
    margin-right:10%;
    color:#505762;}

.describe-page dt{
    font-weight:bold;
    color:#8AAAE5;
}

.describe-page dl a{color:#CBB26A; 
font-weight:bold;}

.describe-page dl a:hover,.describe-page dl a:focus-within{background:#8AAAE5}

/*********체ber uns**********/
.describe-page p{color:#000;font-size:1.2em;}

.describe-page .container + P{text-align:center;}

.describe-page h1+p{margin-left:10px;
margin-right:10px;}

.describe-page div~p{
    text-align:center;
    color:#505762;
    font-size:1em;
}

.describe-page .container{
    margin-bottom:40px;
}
.describe-page .col-50{
    padding:1%;
    width:calc(50% - 2%);}

/**************impressum**************/
.impressum h1~p{
    margin-left:30px;
    font-size:1.3em;
}
.impressum p{line-height:0.8em;}
.impressum .describe-wrapper span{color:#505762;}

.impressum .describe-wrapper .title{color:#CBB26A;}

.impressum .bottom-word{text-align:center;color:#6c6c6f;margin-top:50px;}

/**************karriere + kontakt formular**********/
.form-wrapper img{
    display:block;
    width:300px;
    margin:0 auto;}
.form-wrapper{
    width:80%;
    margin:0 auto;
    border:2px solid #8AAAE5;
    box-shadow:3px 3px 3px grey;;
}

.form-wrapper > div{ width:80%;
    margin:0 auto;}

.fl-r{float:right;}


.form-wrapper h1{text-align:center;}


details div{
    width:80%;
    margin:0 auto;
}


details div .flex{
    width:90%;
    margin:0 auto;
    flex-wrap:wrap;
}


details summary::before { 
    content:"\203A"; 
    color:#FCF6F5; 
    font-size:35px;
    padding:16px;
}

details[open] summary::before { 
    content:"\2304"; 
    color:#FCF6F5; 
    font-size:25px;
    padding:15px;
}

details .col-33{
    position:relative;
}

summary{
    display:block;
    width:90%;
    margin:0 auto;
    height:60px;
    color:#FCF6F5;
    background:#8AAAE5;
    font-size:1.3em;
    line-height:60px;
    margin-bottom:5px;
}


.file-upload {
    border: 1px solid #6c6c6f;
    display: inline-block;
    width:150px;;
    height:80px;
    font-size:1em;
    font-weight:bold;
    color:#6c6c6f;
    padding: 6px;
    cursor: pointer;
    text-align:center;
}

.file-upload::after{
    content:"\2795";
    position:absolute;
    bottom:45px;
    left:75px;
}
details .flex{
    display:flex;
    justify-content:space-between;
}

details  .flex>div>p{
    font-size:1em;
}
.form-wrapper span{
    color:#990011;
    font-size:1.2em;
}

.fieldset{
    width:25%;
}

.form-wrapper .button:hover,
.form-wrapper .button:focus-within{background:#8AAAE5;}

.form-wrapper div.col-33, .form-wrapper div.col-100{
    margin-bottom:20px;
}

input[type="reset"],input[type="submit"]{
    font-size:1em;
    padding:5px;
    background:#8AAAE5;
    color:#FCF6F5;
    margin:20px 0;
}

input[type="reset"]:hover,
input[type="submit"]:hover{background:#CBB26A;cursor:pointer;}
input[type="reset"]{margin-left:5%;}

/***********karriere********/
.form-wrapper dl + p{
    color:#CBB26A;
    margin-top:20px;
}

